* {
  margin: 0;
  box-sizing: border-box;
  padding: 0; }

a {
  text-decoration: none; }
  a:hover {
    transform: scale(1.1);
    transition: transform 0.2s linear; }

ul {
  list-style: none; }

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: none;
  gap: none;
  flex: none;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0; }

.logo-container {
  flex: 1; }
  .logo-container .logo {
    width: 10.3125rem;
    height: 10.3125rem;
    margin-left: 1.25rem; }

footer {
  display: grid;
  grid-template-rows: repeat(0);
  grid-template-columns: repeat(3, 1fr);
  column-gap: none;
  row-gap: none;
  justify-content: none;
  align-items: none;
  background-color: #A75151;
  width: 100%; }
  footer .footer-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: none;
    align-items: center;
    gap: none;
    flex: none;
    text-align: center;
    margin: 20px auto; }
    footer .footer-main .footer-logo img {
      width: 10.3125rem;
      height: 10.3125rem; }
  footer .footer-contact {
    margin: 75px auto;
    text-align: center; }
  footer .footer-hours {
    margin: 75px auto;
    text-align: center; }
  footer .footer-social {
    grid-column: 3/4;
    text-align: center; }
    footer .footer-social img {
      width: 4.375rem;
      height: 4.375rem;
      margin: 1.875rem;
      display: inline-block; }
  footer .footer-main p, footer .footer-hours p, footer .footer-contact p {
    color: white;
    font-family: "Abel";
    font-weight: normal;
    font-style: normal;
    font-size: 1.25rem;
    text-align: none;
    margin: 30px auto; }
  footer .footer-hours h2, footer .footer-contact h2 {
    color: white;
    font-family: "Arbutus Slab";
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
    text-align: none;
    margin-left: .625rem;
    margin-bottom: 1.25rem; }

body::before {
  content: "";
  display: block;
  height: 10.5625rem; }

.inicio-page main {
  display: flex;
  flex-direction: column;
  flex-wrap: warp;
  justify-content: none;
  align-items: none;
  gap: none;
  flex: none;
  background-color: #FFEBDD; }
  .inicio-page main .hero {
    background-image: url(https://images.unsplash.com/photo-1593504049359-74330189a345?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
    background-color: rgba(138, 67, 67, 0.5);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(5, 3fr);
    grid-template-columns: repeat(3, 3fr);
    column-gap: none;
    row-gap: 0.625rem;
    justify-content: none;
    align-items: none; }
    .inicio-page main .hero h1 {
      color: white;
      font-family: "Arbutus Slab";
      font-weight: normal;
      font-style: normal;
      font-size: 3.125rem;
      text-align: none;
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 4;
      align-self: flex-end;
      justify-self: center; }
    .inicio-page main .hero p {
      color: white;
      font-family: "Arbutus Slab";
      font-weight: normal;
      font-style: normal;
      font-size: 1.5625rem;
      text-align: none;
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 4;
      align-self: flex-start;
      justify-self: center;
      margin: .625rem; }
  .inicio-page main .about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: none;
    flex: none;
    margin: 75px 0 75px 0; }
    .inicio-page main .about h2 {
      color: black;
      font-family: "Arbutus Slab";
      font-weight: normal;
      font-style: normal;
      font-size: 1.875rem;
      text-align: center;
      width: 50%;
      margin: .625rem; }
    .inicio-page main .about p {
      color: #525252;
      font-family: "Abel";
      font-weight: normal;
      font-style: normal;
      font-size: 1.4375rem;
      text-align: center;
      width: 30%;
      margin: .625rem; }
  .inicio-page main .community {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: none;
    flex: none; }
    .inicio-page main .community h2 {
      color: black;
      font-family: "Abel";
      font-weight: normal;
      font-style: normal;
      font-size: 2rem;
      text-align: center; }
    .inicio-page main .community img {
      width: 5rem;
      height: 5rem;
      margin: 1.875rem 0 75px 0;
      align-self: center; }
  .inicio-page main .service {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    column-gap: 3.125px;
    row-gap: none;
    justify-content: none;
    align-items: none;
    height: 50vh; }
    .inicio-page main .service h3 {
      color: black;
      font-family: "Arbutus Slab";
      font-weight: normal;
      font-style: normal;
      font-size: 1.875rem;
      text-align: center;
      margin: 5px 0 1.25rem 0; }
    .inicio-page main .service p {
      color: #525252;
      font-family: "Abel";
      font-weight: normal;
      font-style: normal;
      font-size: 1.4375rem;
      text-align: justify;
      width: 86%; }
    .inicio-page main .service img {
      width: 12.5rem;
      height: 12.5rem;
      margin: .625rem;
      border-radius: 1.875rem; }
    .inicio-page main .service .pizzeria, .inicio-page main .service .restaurante, .inicio-page main .service .cafeteria {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: none;
      align-items: center;
      gap: none;
      flex: none;
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 3;
      align-self: none;
      justify-self: none; }
    .inicio-page main .service .restaurante {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 3;
      grid-column-end: 4;
      align-self: none;
      justify-self: none; }
    .inicio-page main .service .cafeteria {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 4;
      grid-column-end: 5;
      align-self: flex-start;
      justify-self: center; }

.conocenos-page main {
  background-color: #FFEBDD; }
  .conocenos-page main .hero-cono {
    background-image: url(https://images.unsplash.com/photo-1517686469429-8bdb88b9f907?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
    background-color: rgba(138, 67, 67, 0.5);
    width: 100%;
    height: 25.625rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: none;
    flex: none; }
    .conocenos-page main .hero-cono h1 {
      color: white;
      font-family: "Arbutus Slab";
      font-weight: normal;
      font-style: normal;
      font-size: 3.125rem;
      text-align: none; }
  .conocenos-page main .cono-info {
    width: 100%;
    padding: 2rem 11rem;
    margin-top: 8rem; }
    .conocenos-page main .cono-info .div-info {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      gap: none;
      flex: none;
      margin-bottom: 8rem; }
      .conocenos-page main .cono-info .div-info.div-info-a {
        flex-direction: row; }
        .conocenos-page main .cono-info .div-info.div-info-a p {
          margin-left: 15.625rem; }
      .conocenos-page main .cono-info .div-info.div-info-b {
        flex-direction: row-reverse; }
        .conocenos-page main .cono-info .div-info.div-info-b p {
          margin-right: 15.625rem; }
      .conocenos-page main .cono-info .div-info p {
        color: #525252;
        font-family: "Abel";
        font-weight: normal;
        font-style: normal;
        font-size: 30px;
        text-align: justify;
        line-height: 3.125rem;
        flex: 1; }
      .conocenos-page main .cono-info .div-info .image-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: none;
        flex: 0 0 25rem;
        height: 18.75rem;
        border-radius: 1.875rem;
        overflow: hidden;
        background-size: cover;
        background-position: center; }
        .conocenos-page main .cono-info .div-info .image-container h3 {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          gap: none;
          flex: none;
          color: white;
          font-family: "Arbutus Slab";
          font-weight: normal;
          font-style: normal;
          font-size: 28px;
          text-align: none;
          width: 100%;
          height: 100%;
          background-blend-mode: multiply;
          background-color: rgba(84, 40, 40, 0.5); }
      .conocenos-page main .cono-info .div-info .cono-info-hist {
        background-image: url("https://images.unsplash.com/photo-1569230516306-5a8cb5586399?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); }
      .conocenos-page main .cono-info .div-info .cono-info-valo {
        background-image: url("https://plus.unsplash.com/premium_photo-1679591002618-bc0b4de816cb?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); }
      .conocenos-page main .cono-info .div-info .cono-info-expe {
        background-image: url("https://images.unsplash.com/photo-1572552635104-daf938e0aa1f?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); }
      .conocenos-page main .cono-info .div-info .cono-info-prem {
        background-image: url("https://images.unsplash.com/photo-1696454599157-a47c99f7e83a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); }

.button-delivery, .footer-main a, .footer-contact a, .hero a, .bt-main-menu a, .button-delivery-active {
  color: white;
  font-family: "Antonio";
  font-weight: none;
  font-style: none;
  font-size: 1.5625rem;
  text-align: none;
  background-color: #A10000;
  border-radius: 1.875rem;
  padding: .625rem 2.5rem;
  margin: 2.5rem 1.875rem 0 1.875rem; }
  .button-delivery:hover, .footer-main a:hover, .footer-contact a:hover, .hero a:hover, .bt-main-menu a:hover, .button-delivery-active:hover {
    color: #cecece; }

.button-delivery-active {
  color: black; }
  .button-delivery-active:hover {
    color: white; }

.footer-main a, .footer-contact a {
  font-size: 1.25rem;
  margin: 2.5rem 1.875rem 3.125rem 1.875rem;
  display: inline-block; }

.hero a {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  justify-self: center;
  font-size: 1.25rem;
  margin: 0; }

.bt-main-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: none;
  flex: none;
  margin: 115px 0 115px 0; }
  .bt-main-menu a {
    color: black;
    font-size: 1.25rem;
    background-color: #FFEBDD;
    border: .3125rem solid #A10000;
    margin: 0; }
    .bt-main-menu a:hover {
      color: #7c7a7a; }

.navbar-2 {
  display: none; }
  .navbar-2 .menu-toggle {
    display: none; }
  .navbar-2 .navbar-toggler {
    padding: 0.5rem; }
    .navbar-2 .navbar-toggler .navbar-toggler-icon {
      background-image: url('data:image/svg+xml;charset=utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(0, 0, 0, 1)" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg>');
      width: 2rem;
      height: 2rem;
      background-size: contain; }

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: none;
  flex: 2; }
  .navbar ul, .navbar .navbar {
    margin: 0;
    padding: 0; }
  .navbar .nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: none;
    align-items: center;
    gap: none;
    flex: 1; }
    .navbar .nav-list .nav-item, .navbar .nav-list .nav-item-active {
      display: flex;
      color: #525252;
      font-family: "Antonio";
      font-weight: none;
      font-style: none;
      font-size: 1.5625rem;
      text-align: none;
      margin: 1.875rem; }
      .navbar .nav-list .nav-item:hover, .navbar .nav-list .nav-item-active:hover {
        color: #9e9e9e; }
    .navbar .nav-list .nav-item-active {
      color: black; }
  .navbar .insta-navbar {
    width: 4.375rem;
    height: 3.9375rem;
    margin: 1.875rem; }
