// Importando utilidades
@import "./utilities/variables";
@import "./utilities/maps";
@import "./utilities/mixins";
@import "./utilities/functions";

// Importando base
@import "./base/reset";
@import "./base/typography";

// Importando layout
@import "./layout/header";
@import "./layout/footer";
@import "./layout/main-index";
@import "./layout/main-conocenos";
@import "./layout/main-contacto";

// Importando componentes
@import "./components/button";
@import "./components/navbar";

// Importando media
@import "./layout/media/425px"

