@media(max-width:1050px){

/* Header */
    header{
        .navbar{
            .nav-list{
                .nav-item, .nav-item-active {
                    font-size: 1.375rem;
                }
            }
        }
        .button-delivery , .button-delivery-active {
            font-size: 1.375rem;
        }
    }

/* Main conocenos */
    .conocenos-page{
        main{
            .cono-info{
                padding: 3rem 7rem; 
                .div-info{
                    p{
                        font-size: 22px;
                    }
                }
            }
        }
    }

}