@media(max-width:1150px){

/* Main conocenos */
    .conocenos-page{
        main{
            .cono-info{
                .image-container{
                    flex: 0 0 16.875rem; 
                    height: 16.875rem;
                    h3{
                        text-align: center;
                        font-size: 1.875rem;
                    }
                }
            }  
        }
    }
}