@media(max-width:1440px){
    .inicio-page main{
        .about{
            h2{
                width: 70%;
            }
            p{
                width: 45%;
            }
        }
        .service{
            P{
                font-size: 1.4063rem;
            }
        }
    }
}