@media(max-width:1440px){

/* Main Inicio */
    .inicio-page main{
        .about{
            h2{
                width: 70%;
            }
            p{
                width: 45%;
            }
        }
        .service{
            P{
                font-size: 1.4063rem;
            }
        }
    }

/* Main Conocenos */
    .conocenos-page{
        main{
            .cono-info{
                .div-info{
                    p{
                        font-size: 1.5625rem;
                    }
                }
            }
        }
    }

/* Main menu */
    .menu-page{
        main{
            .menu{
                .pizza, .entradas, .pasta{
                    width: 75%;
                }
            }
        }
    }

/* Main delivery */
    .delivery-page{
        main{
            .pedidos{
                h2{
                    font-size: 2.5rem;
                }
            }
            .bt-main-deli a{
                font-size: 1.5625rem;
            }
        }
    }
}