@media (max-width: 425px) {
    body::before{
        height: 17.5rem;}

/* Header */
    header{
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        .logo-container {
            display: grid;
            @include gridself(1, 2, 1, 3, none, center);
            .logo {
                margin: 0;
            }
        }
        .navbar {
            @include gridself(2, 3, 1, 2, none, none);
            .insta-navbar {
                display: none;
            }
            .nav-list {
                display: none;
            }
            .button-delivery , .button-delivery-active{
                margin: 0;
                padding: .625rem 2rem;
            }
        }
        .nav-item, .nav-item-active {
            @include fonts($colorBotones, "Antonio", none, none, 1.25rem, none);
            display: block;
            padding: 10px 0;
            margin: .9375rem;
            &.nav-item-active{
                color: map-get($colores, color1);
            }
        }
        .navbar-2 {
            @include flex(column, wrap, center, center, none, none);
            @include gridself(2, 3, 2, 3, none, none);
        }
    }

/* Footer */
    footer{
        @include flex(column,wrap,none,start,none,none);
        .footer-main, .footer-hours, .footer-contact{
            & h2{
                font-size: 1.5625rem;
            }
            & p{
                margin: 30px 18px 30px 18px;
            }
        }
    }

/* Main Inicio */
    // .hero{
    //     height: 450px;
    //     h1{
    //         font-size: 40px;
    //         text-align: center;
    //     }
    //     p{
    //         font-size: 22px;
    //         text-align: center;
    //     }
    //     a{
    //         grid-row-end:6 ;
    //         grid-column-start: 1;
    //         grid-column-end: 4;
    //     }
    // }
    // .about{
    //     h2{
    //         margin: 1.125rem; 
    //     }
    //     p{
    //         margin: 1.25rem;
    //     }
    // }
    // .community{
    //     margin-top: 160px;
    // }
    // .service{
    //     p{
    //         font-size: 1.375rem;
    //         margin: .9375rem 18% 6rem 18%;
    //     }
    //     img{
    //         width: 15.3125rem;
    //         height: 15.3125rem;
    //     }
    // .bt-main-menu{
    //     height: 50vh;
    // }
    // }


}
