@media(max-width:768px){

/* Header */
    header{
        .logo-container{
            flex: 0;
            .logo{
                width: 8.75rem;
                height: 8.75rem;
                margin-left: .9375rem;}
        }
        .navbar{
            .nav-list{
                .nav-item, .nav-item-active {
                    margin: .9375rem;
                    font-size: 1.25rem;}
            }

            .button-delivery-container{
                .button-delivery , .button-delivery-active {
                    margin: 2.5rem 15px 0 15px;
                    font-size:  1.25rem;}
            }
        }
        .insta-navbar-container{
            .insta-navbar {
                width: 60px;
                height: 53px;
                margin: 15px;
            }
        }
    }

/* Footer */
    footer {
        .footer-main, .footer-hours, .footer-contact {
            p {
                margin: 30px 20px 30px 20px;
            }
            h2{
                font-size: 28px;
            }
            .footer-logo{
                img{
                    width: 8.75rem;
                    height: 8.75rem;
                }
            }
        }
        .footer-social img {
            width: 60px;
            height: 60px;
        }
    }   

    body::before {
        height: 9rem;
    }

/* Main inicio */
    .inicio-page{
        main{
            .hero{
                height: 35.625rem;
            }
            
            .about{
                h2{
                    font-size: 1.5313rem;
                    width: 85%; 
                }
                p{
                    width: 70%;
                }
            }

            .community{
                h2{
                    font-size: 1.75rem;
                }
            }
            
            .service{
                display: flex;
                flex-direction: column;
                height: 115vh;
                margin-bottom: 110vh;
                h3{
                    margin-top: 10px;
                }
                p{
                    font-size: 1.4375rem;
                    margin: .9375rem 0 6rem 0;
                    width: 60%;
                }
                img{
                    width: 21.875rem;
                    height: 21.875rem;
                    margin: .625rem;
                }
            }
        
            .bt-main-menu{
                height: 35vh;
                margin: 0;
            }
        }
    }   

/* Main conocenos */
    .conocenos-page{
        main{
            .cono-info{
                padding: 2rem 3rem; 
                .div-info{
                    p{
                        font-size: 1.25rem;
                    }
                    &.div-info-a{
                        p{
                            margin-left: 3rem;
                        }
                    }
                    &.div-info-b{
                        p{
                            margin-right: 3rem;
                        }
                    }
                    .image-container{
                        flex: 0 0 16.875rem; 
                        height: 16.875rem;
                        h3{
                            text-align: center;
                            font-size: 1.875rem;
                        }
                    }
                }
            }
        }
    }

/* Main conocenos */
    .contacto-page{
        main{
            .hablemos{
                h2{
                    font-size: 45px;
                }
            }
            .contactos {
                div{
                    @include flex(column, wrap, center, center, 1.5rem, none);
                    width: 100%; 
                    height: 100%;
                    margin-bottom: 2rem; 
                    img {
                        width: 120px; 
                        height: 120px; 
                    }
                    p {
                        font-size: 1.25rem; 
                        margin: 0 0 75px 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}