// @mixin hero($bgimg, $bgrepeat, $bgposition, $bgblend, $bgsize, $bgcolor, $width, $height ){
//     background-image: $bgimg;
//     background-repeat: $bgrepeat;
//     background-position: $bgposition;
//     background-blend-mode: $bgblend;
//     background-size: $bgsize;
//     background-color: $bgcolor;
//     width: $width;
//     height: $height;}

@mixin hero($bgimg, $width, $height ){
    background-image: $bgimg;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
    background-color: rgba(138, 67, 67, 0.5);
    width: $width;
    height: $height;}

@mixin flex($direction,$wrap,$justify,$align,$gap,$flex){
    display: flex;
    flex-direction: $direction ;
    flex-wrap: $wrap ;
    justify-content: $justify ;
    align-items: $align ;
    gap: $gap ;
    flex: $flex;}

@mixin grid($templaterow,$templatecomplumns,$columngap,$rowgap,$justify,$align){
    display: grid;
    grid-template-rows: $templaterow ;
    grid-template-columns: $templatecomplumns ;
    column-gap: $columngap;
    row-gap: $rowgap;
    justify-content: $justify ;
    align-items: $align ;}

@mixin gridself($rowstart, $rowend, $columnstart, $columnend, $align, $justify) {
    grid-row-start: $rowstart;
    grid-row-end: $rowend;
    grid-column-start: $columnstart;
    grid-column-end: $columnend;
    align-self: $align;
    justify-self: $justify;
}

@mixin fonts($color, $font-family, $font-weight, $font-style, $font-size, $text-aling){
    color: $color;
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-size: $font-size;
    text-align: $text-aling;}


