@mixin hero($bgimg, $width, $height ){
    @include tracking-in-expand;
    background-image: $bgimg;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
    background-color: rgba(138, 67, 67, 0.5);
    width: $width;
    height: $height;}

@mixin flex($direction,$wrap,$justify,$align,$gap,$flex){
    display: flex;
    flex-direction: $direction ;
    flex-wrap: $wrap ;
    justify-content: $justify ;
    align-items: $align ;
    gap: $gap ;
    flex: $flex;}

@mixin grid($templaterow,$templatecomplumns,$columngap,$rowgap,$justify,$align){
    display: grid;
    grid-template-rows: $templaterow ;
    grid-template-columns: $templatecomplumns ;
    column-gap: $columngap;
    row-gap: $rowgap;
    justify-content: $justify ;
    align-items: $align ;}

@mixin gridself($rowstart, $rowend, $columnstart, $columnend, $align, $justify) {
    grid-row-start: $rowstart;
    grid-row-end: $rowend;
    grid-column-start: $columnstart;
    grid-column-end: $columnend;
    align-self: $align;
    justify-self: $justify;
}

@mixin fonts($color, $font-family, $font-weight, $font-style, $font-size, $text-aling){
    color: $color;
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-size: $font-size;
    text-align: $text-aling;}

// animations
@mixin tracking-in-expand($duration: 1s, $delay: 0s) {
    @-webkit-keyframes tracking-in-expand {
      0% {
        letter-spacing: -0.5em;
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes tracking-in-expand {
      0% {
        letter-spacing: -0.5em;
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        opacity: 1;
      }
    }
    animation: tracking-in-expand $duration ease-in-out $delay;
    -webkit-animation: tracking-in-expand $duration ease-in-out $delay;
  }

@mixin text-focus-in($duration: 1s, $delay: 0s) {
    @-webkit-keyframes text-focus-in {
      0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
      }
      100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
      }
    }
    @keyframes text-focus-in {
      0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
      }
      100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
      }
    }
    animation: text-focus-in $duration ease-in-out $delay;
    -webkit-animation: text-focus-in $duration ease-in-out $delay;
  }


  
  
  


