.button-delivery , .button-delivery-active {
    @include fonts(map-get($colores, color2), "Antonio", none, none, 1.5625rem, none);
    background-color: #A10000;
    border-radius: $border;
    padding: .625rem 2.5rem;
    margin: 2.5rem 1.875rem 0 1.875rem;
    &:hover{
        color: rgb(206, 206, 206);
    }
}

.button-delivery-active{
    color: black;
    &:hover{
        color: map-get($colores, color2);
    }
}

.button-delivery-container{
    transition: transform 0.2s linear;
    &:hover{
        transform: scale(1.1);
    }
}

.insta-navbar-container{
    a{
        img{
            &:hover{
                transform: scale(1.1);
                transition: transform 0.2s linear;}
        }
    }
}

.footer-social{
    @extend .insta-navbar-container
}

.footer-main a, .footer-contact a {
    @extend .button-delivery;
    font-size: 1.25rem;
    margin: 2.5rem 1.875rem 3.125rem 1.875rem;
    display: inline-block;
}

.hero a{
    @extend .button-delivery;
    @include gridself(4, 5, 2, 3, center, center);
    font-size: 1.25rem;
    margin: 0;
}

.bt-main-menu{
    @include flex(column, wrap, center, center, none, none);
    margin: 115px 0 115px 0;
    a{
        @extend .button-delivery;
        color: map-get($colores, color1);
        font-size: 1.25rem;
        background-color: #FFEBDD;
        border:  .3125rem solid #A10000;
        margin: 0;
        &:hover{
            color: rgb(124, 122, 122);
        }}
} 

.bt-main-deli a{
    @extend .button-delivery;
    font-size: 1.75rem;
}
